h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    text-align: center;
}
h1.masthead {
    font-size: 4em;
}

h1.article-title {
    font-size: 2.5em;
}

body {
    width: 90%;
    margin: auto;
    font-family: "Droid Serif", serif;
    font-weight: 400;
    margin: auto;
    margin-top: 10mm;
    margin-bottom: 10mm;
    font-size: 5mm;
}

p {
    margin: 0;
    text-indent: 10mm;
    text-align: justify;
}

a {
    color: #000;
}

th.city {
	font-size: 10mm;
	width: 100mm;
}

table.subtable {
	margin-top: 10mm;
	border-left: 1px solid;
}

table.subtable th, table.subtable td {
	width: 50mm;
}

table.subtable td {
	text-align: right;
}
table.subtable th {
	text-align: right;
}
